:root{ 
    --main-radius:20px;
    --main-padding:5px;
    --pink:#ff4081;
    --green: #32CD32;
    

    --primary-background-color: #232e33;
    --primary-box-color: #192024;
    --primary-text-color: #FBFAF5;


    /* color variables */
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;
    --shadow-color:#151515;

    /*   border radius */
    --radius: 0.2rem;

    /*   font size   */
    --font-size: 2.5rem;
}



.light-theme{
    --primary-background-color: #FBFAF5;
    --primary-box-color: #d0d0d0;
    --primary-text-color: #232e33;
    --shadow-color:#425a65;
}








body{
    background-color: var(--primary-background-color);
}



.container{
    display:grid;
    height:relative;
    grid-template-columns: 0.3fr 0.6fr 0.1fr 0.1fr 0.6fr 0.3fr;
    grid-template-rows: 0.2fr 0.1fr 6fr 0.2fr 0.4fr;
    grid-template-areas: 
    "nav nav nav nav nav nav"
    "left_space content0 content0 content0 content0 right_space"
    "left_space content1 content1 content1 content1 right_space"
    "left_space empty_space1 empty_space1 empty_space1 empty_space1 right_space"
    "left_of_footer footer footer footer footer right_of_footer";

    grid-gap: 5.0rem;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight:800;
    color: var(--primary-text-color);
    text-align:center;
}

#left_space{
    background: var(--primary-background-color);
    grid-area: left_space;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#right_space{
    background: var(--primary-background-color);
    grid-area: right_space;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#empty_space1 {
    background: var(--primary-background-color);
    grid-area: empty_space1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}


.container #nav {
    background: var(--primary-box-color);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.container #nav ul {
    list-style:none;
    margin:0;
    display:flex;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    align-items: center;
    padding: 1em 4em;
}

.container #nav ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    position: relative;
    transition: all ease-in-out 250ms;
}

.container #nav ul li:nth-child(1) {
    text-decoration: none;
    color: var(--primary-text-color);
    margin-right: auto;
    margin-left: 1px;
    position: relative;
}

.container #nav ul li:nth-child(2) {
    text-decoration: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.container #nav ul li:nth-child(3) {
    text-decoration: none;
    position: relative;
    margin-left: auto;
    margin-right: 1px;
}

.container #nav #icon1{
    width:30px;
    cursor:pointer;
    
}

.container #nav #icon2{
    width:30px;
    cursor:pointer;
    
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--pink);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.container #content0{
    background: var(--primary-background-color);
    grid-area: content0;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    color: var(--primary-text-color);
    font-size: 16px;
}




.container #content1{
    background: var(--primary-background-color);
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    color: var(--primary-text-color);
    
    
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: var(--pink);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #FF69B4;
}




#left_of_footer{
    background: var(--primary-background-color);
    grid-area: left_of_footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#right_of_footer{
    background: var(--primary-background-color);
    grid-area: right_of_footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

.container #footer{
    background: var(--primary-box-color);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: 10px;
    font-size: 20px;
    height: 8vh;

}

.container #footer ul {
    list-style:none;
    margin:0;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    
}

.container #footer ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    position: relative;
    transition: all ease-in-out 250ms;
}

.container #footer ul li:first-child {
    text-decoration: none;
    color: var(--primary-text-color);
    margin-right: auto;
    margin-left: auto;
    position: relative;
    transition: all ease-in-out 250ms;
}


.container #footer ul li:nth-child(2) {
    text-decoration: none;
    color: var(--primary-text-color);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.container #footer ul li a:hover{
    color:var(--pink);
}






















@media only screen and (max-width:1000px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 
        0.1fr
        0.1fr
        1.2fr
        1.0fr
        1.0fr
        0.3fr;

        grid-template-areas:
        "nav"
        "content0"
        "content1"
        "empty_space1"
        "left_space"
        "right_space"
        "footer";

        grid-gap: 5.0rem;
        font-family: "Inter", sans-serif;
        font-size: 12px;
        font-weight:800;
        color: var(--primary-text-color);
        text-align:center;
        justify-content: center;
    }

        
    #left_space{
        background: var(--primary-background-color);
        grid-area: left_space;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #right_space{
        background: var(--primary-background-color);
        grid-area: right_space;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }


    .container #nav {
        background: var(--primary-box-color);
        grid-area: nav;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
    }

    .container #nav ul {
        list-style:none;
        margin:0;
        display:flex;
        justify-content: center;
        margin-left: auto; 
        margin-right: auto;
        align-items: center;
        padding: 1em 4em;
    }

    .container #nav ul li a {
        text-decoration: none;
        color: var(--primary-text-color);
        position: relative;
        transition: all ease-in-out 250ms;
    }

    .container #nav ul li:nth-child(1) {
        text-decoration: none;
        color: var(--primary-text-color);
        margin-right: auto;
        margin-left: 1px;
        position: relative;
    }

    .container #nav ul li:nth-child(2) {
        text-decoration: none;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
    }

    .container #nav ul li:nth-child(3) {
        text-decoration: none;
        position: relative;
        margin-left: auto;
        margin-right: 1px;
    }

    .container #nav #icon1{
        width:60px;
        cursor:pointer;
        
    }

    .container #nav #icon2{
        width:60px;
        cursor:pointer;
        
    }

    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 50px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: var(--pink);
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 66px;
        margin-left: 50px;
    }


    .container #content1{
        background: var(--primary-background-color);
        grid-area: content1;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        color: var(--primary-text-color);
    }
    




    #left_of_footer{
        background: var(--primary-background-color);
        grid-area: left_of_footer;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #right_of_footer{
        background: var(--primary-background-color);
        grid-area: right_of_footer;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    .container #footer{
        background: var(--primary-box-color);
        grid-area: footer;
        border-radius: var(--main-radius);
        padding-top: 10px;
        font-size: 40px;
        height: 8vh;            
    }

    .container #footer ul {
        list-style:none;
        margin:0;
        display:flex;
        justify-content:flex-end;
        align-items: center;
        
    }

    .container #footer ul li a {
        text-decoration: none;
        color: var(--primary-text-color);
        position: relative;
        transition: all ease-in-out 250ms;
    }

    .container #footer ul li:first-child {
        text-decoration: none;
        color: var(--primary-text-color);
        margin-right: auto;
        margin-left: auto;
        position: relative;
        transition: all ease-in-out 250ms;
    }

   
    .container #footer ul li:nth-child(2) {
        text-decoration: none;
        color: var(--primary-text-color);
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }


    .container #footer ul li a:hover{
        color:var(--pink);
    }

}