:root{ 
    --main-radius:20px;
    --main-padding:5px;
    --pink:#ff4081;

    --primary-background-color: #232e33;
    --primary-box-color: #192024;
    --primary-text-color: #FBFAF5;


    /* color variables */
    --clr-primary: #d50000;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
    --clr-gray300: #a7b7be;
    --clr-gray400: #6b7e86;
    --clr-gray500: #425a65;
    --shadow-color:#151515;

    /*   border radius */
    --radius: 0.2rem;

    /*   font size   */
    --font-size: 2.5rem;
}



.light-theme{
    --primary-background-color: #FBFAF5;
    --primary-box-color: #d0d0d0;
    --primary-text-color: #232e33;
    --shadow-color:#425a65;
}








body{
    background-color: var(--primary-background-color);
}



.container{
    display:grid;
    height:relative;
    grid-template-columns: 0.2fr 0.6fr 0.6fr 0.6fr 0.6fr 0.2fr;
    grid-template-rows: 0.2fr 0.2fr 4fr 0.2fr 4fr 0.4fr;
    grid-template-areas: 
    "nav nav nav nav nav nav"
    "left_space card1 card2 card3 card4 right_space"
    "left_space card1 card2 card3 card4 right_space"
    "left_space card5 card6 card7 card8 right_space"
    "left_space card5 card6 card7 card8 right_space"
    "left_of_footer footer footer footer footer right_of_footer";

    grid-gap: 5.0rem;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight:800;
    color: var(--primary-text-color);
    text-align:center;
}

#left_space{
    background: var(--primary-background-color);
    grid-area: left_space;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#right_space{
    background: var(--primary-background-color);
    grid-area: right_space;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

.card1{
    /* background: url(pong-01.png);
    background-size:cover; */
    background: var(--primary-box-color);
    grid-area:card1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card__image1 {
    height:12rem;
    width: 100%;
    object-fit: cover;
}

.card__title1 {
    padding:1rem;
    color: var(--pink);
    text-decoration: none;
}

.card__desciption1 {
    padding:0 1rem;
    color: var(--pink);
    text-decoration: none;
}

.card__btn1 {
    cursor: pointer;
    padding:1rem;
    font-family: inherit;
    font-weight: bold;
    font-size:1rem;
    border:2px solid var(--pink);
    background: transparent;
    color:var(--pink);
    border-radius: var(--main-radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card1:hover {
    transform: scale(1.02);
    
}


.card1:hover .card__btn1{
    background: var(--pink);
    color:white;
}




.card2{
    /* background: url(pong-01.png);
    background-size:cover; */
    background: var(--primary-box-color);
    grid-area:card2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card__image2 {
    height:12rem;
    width: 100%;
    object-fit: cover;

}

.card__title2 {
    padding:1rem;
    color: var(--pink)

}

.card__desciption2 {
    padding:0 1rem

}

.card__btn2 {
    cursor: pointer;
    padding:1rem;
    font-family: inherit;
    font-weight: bold;
    font-size:1rem;
    border:2px solid var(--pink);
    background: transparent;
    color:var(--pink);
    border-radius: var(--main-radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card2:hover {
    transform: scale(1.02);
    
}


.card2:hover .card__btn2{
    background: var(--pink);
    color:white;
}




.card3{
    /* background: url(pong-01.png);
    background-size:cover; */
    background: var(--primary-box-color);
    grid-area:card3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card__image3 {
    height:12rem;
    width: 100%;
    object-fit: cover;

}

.card__title3 {
    padding:1rem;
    color: var(--pink)
}

.card__desciption3 {
    padding:0 1rem

}

.card__btn3 {
    cursor: pointer;
    padding:1rem;
    font-family: inherit;
    font-weight: bold;
    font-size:1rem;
    border:2px solid var(--pink);
    background: transparent;
    color:var(--pink);
    border-radius: var(--main-radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card3:hover {
    transform: scale(1.02);
    
}


.card3:hover .card__btn3{
    background: var(--pink);
    color:white;
}




.card4{
    /* background: url(pong-01.png);
    background-size:cover; */
    background: var(--primary-box-color);
    grid-area:card4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card__image4 {
    height:12rem;
    width: 100%;
    object-fit: cover;

}

.card__title4 {
    padding:1rem;
    color: var(--pink)
}

.card__desciption4 {
    padding:0 1rem

}

.card__btn4 {
    cursor: pointer;
    padding:1rem;
    font-family: inherit;
    font-weight: bold;
    font-size:1rem;
    border:2px solid var(--pink);
    background: transparent;
    color:var(--pink);
    border-radius: var(--main-radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card4:hover {
    transform: scale(1.02);
    
}


.card4:hover .card__btn4{
    background: var(--pink);
    color:white;
}




.card5{
    /* background: url(pong-01.png);
    background-size:cover; */
    background: var(--primary-box-color);
    grid-area:card5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card__image5 {
    height:12rem;
    width: 100%;
    object-fit: cover;

}

.card__title5 {
    padding:1rem;
    color: var(--pink)
}

.card__desciption5 {
    padding:0 1rem

}

.card__btn5 {
    cursor: pointer;
    padding:1rem;
    font-family: inherit;
    font-weight: bold;
    font-size:1rem;
    border:2px solid var(--pink);
    background: transparent;
    color:var(--pink);
    border-radius: var(--main-radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card5:hover {
    transform: scale(1.02);
    
}


.card5:hover .card__btn5{
    background: var(--pink);
    color:white;
}




.card6{
    /* background: url(pong-01.png);
    background-size:cover; */
    background: var(--primary-box-color);
    grid-area:card6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card__image6 {
    height:12rem;
    width: 100%;
    object-fit: cover;

}

.card__title6 {
    padding:1rem;
    color: var(--pink)
}

.card__desciption6 {
    padding:0 1rem

}

.card__btn6 {
    cursor: pointer;
    padding:1rem;
    font-family: inherit;
    font-weight: bold;
    font-size:1rem;
    border:2px solid var(--pink);
    background: transparent;
    color:var(--pink);
    border-radius: var(--main-radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card6:hover {
    transform: scale(1.02);
    
}


.card6:hover .card__btn6{
    background: var(--pink);
    color:white;
}




.card7{
    /* background: url(pong-01.png);
    background-size:cover; */
    background: var(--primary-box-color);
    grid-area:card7;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card__image7 {
    height:12rem;
    width: 100%;
    object-fit: cover;

}

.card__title7 {
    padding:1rem;
    color: var(--pink)
}

.card__desciption7 {
    padding:0 1rem

}

.card__btn7 {
    cursor: pointer;
    padding:1rem;
    font-family: inherit;
    font-weight: bold;
    font-size:1rem;
    border:2px solid var(--pink);
    background: transparent;
    color:var(--pink);
    border-radius: var(--main-radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card7:hover {
    transform: scale(1.02);
    
}


.card7:hover .card__btn7{
    background: var(--pink);
    color:white;
}




.card8{
    /* background: url(pong-01.png);
    background-size:cover; */
    background: var(--primary-box-color);
    grid-area:card8;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card__image8 {
    height:12rem;
    width: 100%;
    object-fit: cover;

}

.card__title8 {
    padding:1rem;
    color: var(--pink)
}

.card__desciption8 {
    padding:0 1rem

}

.card__btn8 {
    cursor: pointer;
    padding:1rem;
    font-family: inherit;
    font-weight: bold;
    font-size:1rem;
    border:2px solid var(--pink);
    background: transparent;
    color:var(--pink);
    border-radius: var(--main-radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card8:hover {
    transform: scale(1.02);
    
}


.card8:hover .card__btn8{
    background: var(--pink);
    color:white;
}


#picture2{
    background: var(--primary-box-color);
    grid-area: picture2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#picture3{
    background: var(--primary-box-color);
    grid-area: picture3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#picture4{
    background: var(--primary-box-color);
    grid-area: picture4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#picture5{
    background: var(--primary-box-color);
    grid-area: picture5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#picture6{
    background: var(--primary-box-color);
    grid-area: picture6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#picture7{
    background: var(--primary-box-color);
    grid-area: picture7;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#picture8{
    background: var(--primary-background-color);
    grid-area: picture8;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

.container #nav {
    background: var(--primary-box-color);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.container #nav ul {
    list-style:none;
    margin:0;
    display:flex;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    align-items: center;
    padding: 1em 4em;
}

.container #nav ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    position: relative;
    transition: all ease-in-out 250ms;
}

.container #nav ul li:nth-child(1) {
    text-decoration: none;
    color: var(--primary-text-color);
    margin-right: auto;
    margin-left: 1px;
    position: relative;
}

.container #nav ul li:nth-child(2) {
    text-decoration: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.container #nav ul li:nth-child(3) {
    text-decoration: none;
    position: relative;
    margin-left: auto;
    margin-right: 1px;
}

.container #nav #icon1{
    width:30px;
    cursor:pointer;
    
}

.container #nav #icon2{
    width:30px;
    cursor:pointer;
    
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--pink);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.container #content1{
    background: var(--pink);
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    color: #192024;
}

.container #content1 ul{
    list-style: none;
    margin:0;
    display:flex;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    align-items: center;
    padding: 0 0;
}

.container #content1 ul li a {
    text-decoration: none;
    position: relative;
    color: #192024;
}


#content2{
    background: var(--pink);
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3{
    background: var(--pink);
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content4{
    background: var(--pink);
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content5{
    background: var(--pink);
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content6{
    background: var(--pink);
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content7{
    background: var(--pink);
    grid-area: content7;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content8{
    background: var(--primary-background-color);
    grid-area: content8;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}





#left_of_footer{
    background: var(--primary-background-color);
    grid-area: left_of_footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

#right_of_footer{
    background: var(--primary-background-color);
    grid-area: right_of_footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
}

.container #footer{
    background: var(--primary-box-color);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: 10px;
    font-size: 20px;
    height: 8vh;

}

.container #footer ul {
    list-style:none;
    margin:0;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    
}

.container #footer ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    position: relative;
    transition: all ease-in-out 250ms;
}

.container #footer ul li:first-child {
    text-decoration: none;
    color: var(--primary-text-color);
    margin-right: auto;
    margin-left: auto;
    position: relative;
    transition: all ease-in-out 250ms;
}
 
.container #footer ul li:nth-child(2) {
    text-decoration: none;
    color: var(--primary-text-color);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.container #footer ul li a:hover{
    color:var(--pink);
}






















@media only screen and (max-width:1000px) {
    .container{
        grid-template-columns: 0.7fr;
        grid-template-rows: 
        0.2fr 
        2fr 2fr 
        2fr 2fr 
        2fr 2fr 
        2fr 2fr 
        2fr 2fr 
        2fr 2fr 
        2fr 2fr 
        2fr 2fr 
        0.1fr 0.1fr 
        0.1fr;

        grid-template-areas:
        "nav"
        "card1"
        "card1"
        "card2"
        "card2"
        "card3"
        "card3"
        "card4"
        "card4"
        "card5"
        "card5"
        "card6"
        "card6"
        "card7"
        "card7"
        "card8"
        "card8"
        "left_space"
        "right_space"
        "footer";

        grid-gap: 5.0rem;
        font-family: "Inter", sans-serif;
        font-size: 12px;
        font-weight:800;
        color: var(--primary-text-color);
        text-align:center;
        justify-content: center;
    }

        
    #left_space{
        background: var(--primary-background-color);
        grid-area: left_space;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #right_space{
        background: var(--primary-background-color);
        grid-area: right_space;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

        
    .card1{
        /* background: url(pong-01.png);
        background-size:cover; */
        background: var(--primary-box-color);
        grid-area:card1;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        overflow: hidden;
        box-shadow: 0px 2px 20px var(--clr-gray500);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 200ms ease-in;
        
    }

    .card__image1 {
        height:12rem;
        width: 100%;
        object-fit: cover;

    }

    .card__title1 {
        padding:1rem;
        color: var(--pink);
        text-decoration: none;
    }

    .card__desciption1 {
        text-decoration: none;
        padding:0 1rem;
        color: var(--pink);
        font-size: 30px;
    }

    .card__btn1 {
        cursor: pointer;
        padding:1rem;
        font-family: inherit;
        font-weight: bold;
        font-size:var(--font-size);
        border:4px solid var(--pink);
        background: transparent;
        color:var(--pink);
        border-radius: var(--main-radius);
        transition: background 200ms ease-in, color 200ms ease-in;
    }

    .card1:hover {
        transform: scale(1.02);
        
    }


    .card1:hover .card__btn1{
        background: var(--pink);
        color:white;
    }




    .card2{
        /* background: url(pong-01.png);
        background-size:cover; */
        background: var(--primary-box-color);
        grid-area:card2;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        overflow: hidden;
        box-shadow: 0px 2px 20px var(--clr-gray500);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 200ms ease-in;
    }

    .card__image2 {
        height:12rem;
        width: 100%;
        object-fit: cover;

    }

    .card__title2 {
        padding:1rem;
        color: var(--pink);
        

    }

    .card__desciption2 {
        padding:0 1rem;
        color: var(--pink);
    }

    .card__btn2 {
        cursor: pointer;
        padding:1rem;
        font-family: inherit;
        font-weight: bold;
        font-size:var(--font-size);
        border:4px solid var(--pink);
        background: transparent;
        color:var(--pink);
        border-radius: var(--main-radius);
        transition: background 200ms ease-in, color 200ms ease-in;
    }

    .card2:hover {
        transform: scale(1.02);
        
    }


    .card2:hover .card__btn2{
        background: var(--pink);
        color:white;
    }




    .card3{
        /* background: url(pong-01.png);
        background-size:cover; */
        background: var(--primary-box-color);
        grid-area:card3;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        overflow: hidden;
        box-shadow: 0px 2px 20px var(--clr-gray500);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 200ms ease-in;
    }

    .card__image3 {
        height:12rem;
        width: 100%;
        object-fit: cover;

    }

    .card__title3 {
        padding:1rem;
        color: var(--pink);
    }

    .card__desciption3 {
        padding:0 1rem;
        color: var(--pink);
    }

    .card__btn3 {
        cursor: pointer;
        padding:1rem;
        font-family: inherit;
        font-weight: bold;
        font-size:var(--font-size);
        border:4px solid var(--pink);
        background: transparent;
        color:var(--pink);
        border-radius: var(--main-radius);
        transition: background 200ms ease-in, color 200ms ease-in;
    }

    .card3:hover {
        transform: scale(1.02);
        
    }


    .card3:hover .card__btn3{
        background: var(--pink);
        color:white;
    }




    .card4{
        /* background: url(pong-01.png);
        background-size:cover; */
        background: var(--primary-box-color);
        grid-area:card4;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        overflow: hidden;
        box-shadow: 0px 2px 20px var(--clr-gray500);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 200ms ease-in;
    }

    .card__image4 {
        height:12rem;
        width: 100%;
        object-fit: cover;

    }

    .card__title4 {
        padding:1rem;
        color: var(--pink);
    }

    .card__desciption4 {
        padding:0 1rem;
        color: var(--pink);
    }

    .card__btn4 {
        cursor: pointer;
        padding:1rem;
        font-family: inherit;
        font-weight: bold;
        font-size:var(--font-size);
        border:4px solid var(--pink);
        background: transparent;
        color:var(--pink);
        border-radius: var(--main-radius);
        transition: background 200ms ease-in, color 200ms ease-in;
    }

    .card4:hover {
        transform: scale(1.02);
        
    }


    .card4:hover .card__btn4{
        background: var(--pink);
        color:white;
    }




    .card5{
        /* background: url(pong-01.png);
        background-size:cover; */
        background: var(--primary-box-color);
        grid-area:card5;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        overflow: hidden;
        box-shadow: 0px 2px 20px var(--clr-gray500);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 200ms ease-in;
    }

    .card__image5 {
        height:12rem;
        width: 100%;
        object-fit: cover;

    }

    .card__title5 {
        padding:1rem;
        color: var(--pink);
    }

    .card__desciption5 {
        padding:0 1rem;
        color: var(--pink);
    }

    .card__btn5 {
        cursor: pointer;
        padding:1rem;
        font-family: inherit;
        font-weight: bold;
        font-size:var(--font-size);
        border:4px solid var(--pink);
        background: transparent;
        color:var(--pink);
        border-radius: var(--main-radius);
        transition: background 200ms ease-in, color 200ms ease-in;
    }

    .card5:hover {
        transform: scale(1.02);
        
    }


    .card5:hover .card__btn5{
        background: var(--pink);
        color:white;
    }




    .card6{
        /* background: url(pong-01.png);
        background-size:cover; */
        background: var(--primary-box-color);
        grid-area:card6;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        overflow: hidden;
        box-shadow: 0px 2px 20px var(--clr-gray500);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 200ms ease-in;
    }

    .card__image6 {
        height:12rem;
        width: 100%;
        object-fit: cover;

    }

    .card__title6 {
        padding:1rem;
        color: var(--pink);
    }

    .card__desciption6 {
        padding:0 1rem;
        color: var(--pink);
    }

    .card__btn6 {
        cursor: pointer;
        padding:1rem;
        font-family: inherit;
        font-weight: bold;
        font-size:var(--font-size);
        border:4px solid var(--pink);
        background: transparent;
        color:var(--pink);
        border-radius: var(--main-radius);
        transition: background 200ms ease-in, color 200ms ease-in;
    }

    .card6:hover {
        transform: scale(1.02);
        
    }


    .card6:hover .card__btn6{
        background: var(--pink);
        color:white;
    }




    .card7{
        /* background: url(pong-01.png);
        background-size:cover; */
        background: var(--primary-box-color);
        grid-area:card7;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        overflow: hidden;
        box-shadow: 0px 2px 20px var(--clr-gray500);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 200ms ease-in;
    }

    .card__image7 {
        height:12rem;
        width: 100%;
        object-fit: cover;

    }

    .card__title7 {
        padding:1rem;
        color: var(--pink);
    }

    .card__desciption7 {
        padding:0 1rem;
        color: var(--pink);
    }

    .card__btn7 {
        cursor: pointer;
        padding:1rem;
        font-family: inherit;
        font-weight: bold;
        font-size:var(--font-size);
        border:4px solid var(--pink);
        background: transparent;
        color:var(--pink);
        border-radius: var(--main-radius);
        transition: background 200ms ease-in, color 200ms ease-in;
    }

    .card7:hover {
        transform: scale(1.02);
        
    }


    .card7:hover .card__btn7{
        background: var(--pink);
        color:white;
    }




    .card8{
        /* background: url(pong-01.png);
        background-size:cover; */
        background: var(--primary-box-color);
        grid-area:card8;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        overflow: hidden;
        box-shadow: 0px 2px 20px var(--clr-gray500);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 200ms ease-in;
    }

    .card__image8 {
        height:12rem;
        width: 100%;
        object-fit: cover;

    }

    .card__title8 {
        padding:1rem;
        color: var(--pink)
    }

    .card__desciption8 {
        padding:0 1rem;
        color: var(--pink)
    }

    .card__btn8 {
        cursor: pointer;
        padding:1rem;
        font-family: inherit;
        font-weight: bold;
        font-size:var(--font-size);
        border:4px solid var(--pink);
        background: transparent;
        color:var(--pink);
        border-radius: var(--main-radius);
        transition: background 200ms ease-in, color 200ms ease-in;
    }

    .card8:hover {
        transform: scale(1.02);
        
    }


    .card8:hover .card__btn8{
        background: var(--pink);
        color:white;
    }




/* 
    #picture1{
        background: url(pong-01.png);
        background-size:contain;
        grid-area: picture1;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #picture2{
        background: var(--primary-background-color);
        grid-area: picture2;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #picture3{
        background: var(--primary-background-color);
        grid-area: picture3;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #picture4{
        background: var(--primary-background-color);
        grid-area: picture4;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #picture5{
        background: var(--primary-background-color);
        grid-area: picture5;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #picture6{
        background: var(--primary-background-color);
        grid-area: picture6;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #picture7{
        background: var(--primary-background-color);
        grid-area: picture7;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #picture8{
        background: var(--primary-background-color);
        grid-area: picture8;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    } */

    .container #nav {
        background: var(--primary-box-color);
        grid-area: nav;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
    }

    .container #nav ul {
        list-style:none;
        margin:0;
        display:flex;
        justify-content: center;
        margin-left: auto; 
        margin-right: auto;
        align-items: center;
        padding: 1em 4em;
    }

    .container #nav ul li a {
        text-decoration: none;
        color: var(--primary-text-color);
        position: relative;
        transition: all ease-in-out 250ms;
    }

    .container #nav ul li:nth-child(1) {
        text-decoration: none;
        color: var(--primary-text-color);
        margin-right: auto;
        margin-left: 1px;
        position: relative;
    }

    .container #nav ul li:nth-child(2) {
        text-decoration: none;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
    }

    .container #nav ul li:nth-child(3) {
        text-decoration: none;
        position: relative;
        margin-left: auto;
        margin-right: 1px;
    }

    .container #nav #icon1{
        width:60px;
        cursor:pointer;
        
    }

    .container #nav #icon2{
        width:60px;
        cursor:pointer;
        
    }

    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 50px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: var(--pink);
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 66px;
        margin-left: 50px;
    }

/* 
    #content1{
        background: var(--pink);
        grid-area: content1;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        color: #192024;
        font-size:30px;
    }

    #content2{
        background: var(--pink);
        grid-area: content2;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-size:30px;
    }

    #content3{
        background: var(--pink);
        grid-area: content3;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-size:30px;
    }

    #content4{
        background: var(--pink);
        grid-area: content4;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-size:30px;
    }

    #content5{
        background: var(--pink);
        grid-area: content5;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-size:30px;
    }

    #content6{
        background: var(--pink);
        grid-area: content6;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-size:30px;
    }

    #content7{
        background: var(--pink);
        grid-area: content7;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        font-size:30px;
    }

    #content8{
        background: var(--primary-background-color);
        grid-area: content8;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
    } */





    #left_of_footer{
        background: var(--primary-background-color);
        grid-area: left_of_footer;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    #right_of_footer{
        background: var(--primary-background-color);
        grid-area: right_of_footer;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
        
    }

    .container #footer{
        background: var(--primary-box-color);
        grid-area: footer;
        border-radius: var(--main-radius);
        padding-top: 10px;
        font-size: 40px;
        height: 8vh;

    }

    .container #footer ul {
        list-style:none;
        margin:0;
        display:flex;
        justify-content:flex-end;
        align-items: center;
        
    }

    .container #footer ul li a {
        text-decoration: none;
        color: var(--primary-text-color);
        position: relative;
        transition: all ease-in-out 250ms;
    }

    .container #footer ul li:first-child {
        text-decoration: none;
        color: var(--primary-text-color);
        margin-right: auto;
        margin-left: auto;
        position: relative;
        transition: all ease-in-out 250ms;
    }

    
    .container #footer ul li:nth-child(2) {
        text-decoration: none;
        color: var(--primary-text-color);
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }


    .container #footer ul li a:hover{
        color:var(--pink);
    }

}